{% extends "accounts/main.html" %}

{% block main %}

<br>
<h5>Please insert new clients below</h5>

<br>
<!-- Form to add new customer, all forms linked -->
<div class="card card-body">
    <form action="" method="POST">
        {% csrf_token %}

        <h6>Clint details:</h6>
        <hr>
        {{ client_form.as_p }}

        <br>
        <h6>Address:</h6>
        <hr>
        {{ address_form.as_p }}

        <br>
        <h6>Contact details:</h6>
        <hr>
        {{ contact_form.as_p }}

        <input type="submit" class="btn btn-success" value="Add client">
    </form>
</div>

{% endblock %}