{% extends "accounts/main.html" %}

{% block main %}

<br>
<h5>Below are all students:</h5>
<br>

<!-- shows all students with links to their detailed page -->
<div class="card card-body">
    <a style="width: 200px" class="btn btn-primary" href="{% url 'accounts:addstudent' %}">Add New Student</a>

    <br>
    <ul class="list-group list-group-flush">
        {% for names in students %}
            <li class="list-group-item list-group-item-dark">
                <a class="btn btn-dark" href="{% url 'accounts:student' names.pk %}">
                {{ names.forename }} {{names.surname}}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}